{% extends "ver0/layout.html" %}

{% block display_chart %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let ctx = document.getElementById("chart").getContext("2d");
        const pie_data = JSON.parse(document.getElementById('pie_data').textContent);
        if (pie_data["labels"].length == 0 && pie_data["affiliation"].length != 0) {
            alert("Sorry, the affiliation [" + pie_data['affiliation'] + "] is not in our database.")
        } else {
            const pie_data = JSON.parse(document.getElementById('pie_data').textContent);

            let chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: pie_data["labels"],
                    datasets: [
                        pie_data["datasets"]
                    ]
                },//end data
                options: {
                    responsive: false,
                    title: {
                        display: true,
                        text: 'The research interest distribution of [' + pie_data['affiliation'] + ']'
                    }, // end title
                    legend: {
                        position: 'left'
                    } // end legend

                } // end options

            } // end new chart input
            ); // end new chart
        } // end else
    } // end function()
    ) // end addEventListener
</script>
{% endblock %}

{% block searchbox %}

<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col col-lg-2">
            <form action="{% url 'ver0:affiliations' %}" method="post" autocomplete="off">
                <form action="{% url 'ver0:affiliations' %}" autocomplete="off" method="GET" method="post">
                    <div class="row">
                        <div id="aff_topk" class="col-sm-1">
                            <label for="topk">Top K:</label>
                            <input type="number" class="form-control" name="topk" placeholder="5" aria-label="K"
                                required>
                        </div>
                        <div id="affiliations" class="col-sm-4 autocomplete">
                            <label for="affiliations">Affiliation Name:</label>
                            <input name="affiliations" type="text" class="form-control autocomplete-input"
                                placeholder="Enter institution name" aria-label="Affiliations" required>
                            <ul class="autocomplete-result-list"></ul>
                        </div>
                        <div id="affiliations_submit" class="col-sm-1" style="align-self:center;">
                            <input type="submit">
                        </div>
                    </div>
                </form>
                <button type='submit' class='btn btn-primary' style="margin-top: 10px;">Submit</button>
            </form>
        </div>
        <div class="col">
            <div style="width:100%; text-align: center;">
                {{ pie_data|json_script:"pie_data"}}
                <canvas id="chart" width="600" height="600" style="display: inline;"></canvas>
            </div>
        </div>
    </div>
</div>


<script>
        new Autocomplete("#affiliations", {
            search: input => {
                console.log(input)
                const url = `./search/affiliations?affiliations=${input}`
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            resolve(data.data)
                        })
                })
            },
            onSubmit: result => {
                console.log(result)
            }
        })
</script>

{% for paper in paper_list %}
<ul>
    <li>
        <a href="{{paper.1}}">{{paper.0}}</a>
        <ul>
            <li>keywords: {{paper.2}}</li>
        </ul>
    </li>
</ul>
{%endfor%}

{% endblock %}