{% extends "ver0/layout.html" %}

{% block display_chart %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let ctx = document.getElementById("chart").getContext("2d");
        const pie_data = JSON.parse(document.getElementById('pie_data').textContent);
        if (pie_data["labels"].length == 0 && pie_data["affiliation"].length != 0) {
            alert("Sorry, the affiliation [" + pie_data['affiliation'] + "] is not in our database.")
        } else {
            const pie_data = JSON.parse(document.getElementById('pie_data').textContent);

            let chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: pie_data["labels"],
                    datasets: [
                        pie_data["datasets"]
                    ]
                },
                options: {
                    responsive: false,
                    title: {
                        display: true,
                        text: 'The research interest distribution of [' + pie_data['affiliation'] + ']'
                    },
                    legend: {
                        position: 'left'
                    }
                    
                }
            });
        }
    })
</script>
{% endblock %}

{% block searchbox %}

<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col col-lg-2">
        <form action="{% url 'ver0:affiliations' %}" method="post" autocomplete="off">
            {% csrf_token %} 
            {{form.media}}
            {{form}}
            <button type='submit' class='btn btn-primary' style="margin-top: 10px;">Submit</button>
        </form>
    </div>
    <div class="col">
        <div style="width:100%; text-align: center;">
        {{ pie_data|json_script:"pie_data"}}
            <canvas id="chart" width="600", height="600", style="display: inline;"></canvas>
        </div>
    </div>
  </div>
</div>

{% for paper in paper_list %}
<ul><li>
    <a href="{{paper.1}}">{{paper.0}}</a>
    <ul><li>keywords: {{paper.2}}</li></ul>
</li></ul>
{%endfor%}

{% endblock %}