{% extends "ver0/layout.html" %}

{% block display_chart %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let ctx = document.getElementById("chart").getContext("2d");
        // todo: build a pie char?
        const pie_data = JSON.parse(document.getElementById('pie_data').textContent);

        let chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: pie_data["labels"],
                datasets: [
                    pie_data["datasets"]
                ]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Research Interests Distribution'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                }
            }
        });
    })
</script>
{% endblock %}

{% block searchbox %}
<p>need a form, display topk</p>
{{ pie_data|json_script:"pie_data"}}
<canvas id="chart" width="500" , height="300"></canvas>
{% endblock %}