{% extends "ver0/layout.html" %}

{% block display_chart %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let ctx = document.getElementById("chart").getContext("2d");
        const keyword_data = JSON.parse(document.getElementById('keyword_data').textContent);

        let chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: keyword_data["labels"],
                datasets: keyword_data["datasets"]
            },
            options: {
                title: {
                    display: true,
                    text: 'Keywords over years'
                }, 
                legend: {
                    position: 'left'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize:1
                        }
                    }]
                }
            }
        });
    })
</script>
{% endblock %}

{% block searchbox %}
<p>TODO: connect to db, display</p>

{{ keyword_data|json_script:"keyword_data"}}
<div class="chart-container" style="width:500px;height:500px;">
    <canvas id="chart"></canvas>
</div>
{% endblock %}